# 忽略 IDE 配置目录
.idea/
.vs/
.vscode/

# 忽略编译生成的可执行文件
*.exe

# 忽略所有无扩展名文件
*
!*.*        # 但保留有扩展名的文件
!*/         # 保留目录

# 忽略C++ 项目常见的中间文件
*.o
*.obj
*.dll
*.so
*.a
*.lib

# 忽略构建输出目录（你可能叫 build/ 或者 bin/）
output/
cmake-build-debug/
cmake-build-release/
build/
out/
